<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>HS Library</h1>
            <p>This is the first page you land on and where you will sign up / in</p>
        </div>
    </div>
</div>
